@import "../../commons/index.scss";

.menu-container {
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
    position: relative;
    width: 80%;

    .menu-item {
        color: $orange;
        cursor: pointer;
        font-family: 'Montserrat';
        font-weight: 700;
        text-decoration: none;
        text-transform: uppercase;
    }
}