@import "commons/index.scss";

body {
  // margin: 0;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  // width: 100%;
}

.header {
  // width: 100%;
  font-family: 'Montserrat';
  font-weight: 800;
  font-size: 82px;
  color: $light-strawberry;
}

.content {
  font-family: 'Montserrat';
  color: $black;
}

// .recipe-image-container {
//   width: 50%;
// }

// .recipe-image {
//   width: 100%;
//   height: auto;
// }